body {
  background-color: #2fedd3;
}
#full-deck {
  display:flex;
  flex-wrap:wrap;
  width:100%;
}
.card{
  width: 24%;
  margin:auto;
  margin-bottom:30px;
  height:200px;
  background-color: #2f35ed;
}
img {
  width:80%;
  height:80%;
  margin:auto;
  margin-top:20px;
  margin-left:20px;
  display:none;
}
