body {
  background-color: #2fedd3;
}

h1{
  font: 2.5em Jua;
  text-align: center;
  margin-bottom: 5px;
}
#full-deck {
  display:flex;
  flex-wrap:wrap;
  width:100%;
  margin-left:100px;
}
.card{
  width: 20%;
  margin-right:20px;
  margin-bottom:30px;
  height:90px;
  background-color: #2f35ed;
}
.closed {
  display:none;
}
.open{
  width:80%;
  height:80%;
  margin:auto;
  margin-top:10px;
  margin-left:20px;
  display:inline;
}
.matched{
  width:80%;
  height:80%;
  margin:auto;
  margin-top:10px;
  margin-left:20px;
  display:inline;
}
.rating{
  width:30px;
  height:30px;
  padding-right:20px;
  padding-left: 20px;

}
#star1{
  margin-left: 520px;
}
figcaption{
  margin-left: 590px;
  font:1em Cabin Sketch;
}
.lowScore{
  display:none;
}
#counter {
  font: 1em Cabin Sketch;
  text-align: left;
  margin-left: 1000px;
  margin-top:0px;

}
#modalCongrats{
  display:none;
  background-color: #a92fed;
}
.container{
  text-align: center;
  padding-bottom: 20px;
}
button{
  background-color: red;
  text-align: center;
  border-radius: 50%;
  padding-top: 20px;
}
#timer{
  display:block;
  text-align:center;
}
