body {
  background-color: #2fedd3;
}

h1 {
  font: 2.5em Jua;
  text-align: center;
  margin-bottom: 5px;
}
#full-deck {
  display:flex;
  flex-wrap:wrap;
  width:100%;
  margin-left:100px;
}
.card{
  width: 20%;
  margin-right:20px;
  margin-bottom:30px;
  height:90px;
  background-color: #2f35ed;
}
.closed {
  display:none;
}
.open{
  width:80%;
  height:80%;
  margin:auto;
  margin-top:10px;
  margin-left:20px;
  display:inline;
}
.matched{
  width:80%;
  height:80%;
  margin:auto;
  margin-top:10px;
  margin-left:20px;
  display:inline;
}
.rating{
  width:30px;
  height:30px;
  padding-right:10px;
  padding-left: 10px;

}
#star1{
  margin-left: 90px;
}
figcaption{
  margin-left: 390px;
  font:1em Cabin Sketch;
}
.lowScore{
  display:none;
}
#counter {
  font: 1em Cabin Sketch;
  text-align: left;
  margin-left: 1000px;
  margin-top:0px;

}
#modalCongrats{
  display:none;
  background-color: #a92fed;
}
.container{
  text-align: center;
  padding-bottom: 20px;
}
#replay{
  background-color: red;
  text-align: center;
  border-radius: 50%;
  padding-top: 20px;
}
#timer{
  display:block;
  text-align:center;
}
#reset {
  background-color: orange;
  text-align: center;
  border-radius: 30%;
}

@media screen and (max-width:817px) {

#full-deck {
  margin-left:0px;
}
.card{
  margin-right:10px;
  margin-bottom:10px;
  height:45px;
}
.open{
  margin-top:5px;
  margin-left:5px;
}
.matched{
  margin-top:5px;
  margin-left:5px;
}
.rating{
  width:30px;
  height:30px;
  padding-right:0px;
  padding-left: 0px;

}
#star1{
  margin-left: 0px;
}
figcaption{
  margin-left: 0px;
}

#counter {
  margin-left: 250px;
}
.container{
  padding-bottom: 10px;
}
#replay{
  padding-top: 10px;
}
}
